* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #007bff, #00c6ff);
  padding: 1rem 2rem;
  color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.logo-image{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  transition: all 0.3s ease;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover,
.active-link {
  text-decoration: underline;
}

.nav-auth {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.auth-link {
  text-decoration: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.auth-link:hover {
  background-color: white;
  color: #007bff;
}

.signup-btn,
.logout-btn {
  background: none;
  border: none;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}

.logout-btn:hover {
  background-color: white;
  color: #007bff;
}

.nav-username {
  font-weight: 600;
  color: #fff;
}


.menu-icon {
  display: none;
  cursor: pointer;
}

.mobile-auth {
  display: none;
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #007bff, #00c6ff);
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }

  .nav-links.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .nav-auth {
    display: none;
  }

  .mobile-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
